# eclipse
bin
logs/
*.launch
.settings
.metadata
.classpath
.project
.conda


logs/debug.log
logs/latest.log
logs/test.log

# idea
out
*.ipr
*.iws
*.iml
.idea
.idea.bak
.idea.bak.*

# gradle
build
.gradle

# other
eclipse
run
runClient
runData
runTest
runGameTest

# Files from Forge MDK
forge*changelog.txt

runServer
runs