*.bak
# eclipse
bin
logs/
*.launch
.settings
.metadata
.classpath
.project
.conda


logs/debug.log
logs/latest.log
logs/test.log

# idea
out
*.ipr
*.iws
*.iml
**/.idea/**
!platform/minecraft/.idea/.name
.idea.bak
.idea.bak.*

# gradle
build
.gradle

# Rust

target/

# other
eclipse
run
runClient
runData
runTest
runGameTest

# Files from Forge MDK
forge*changelog.txt

runServer
runs